/* Header */

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

ul li .router-link-exact-active {
    color: #ff8f52;
    font-weight: bold;
}
/* body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}