@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


/* Active Links */
ul li .router-link-exact-active {
    color: #f97316;
    font-weight: bold;
}

/* body */
body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #F2F2F2;
}